body {
  grid-template:
    "title title title" 20%
    "winner winner winner" 30%
    "... loser ..." 50%
    /10% 80% 10%;
  #winner {
    border: solid 2px black;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-area: winner;
    grid-template:
      "icon1 ex_pt1 ans_pt1 sum_pt1" 100%
      /25% 25% 25% 25%;
    #icon {
      grid-area: icon1;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    #ex_pt {
      margin: 1vh;
      border: solid 2px blue;
      grid-area: ex_pt1;
    }
    #ans_pt {
      margin: 1vh;
      border: solid 2px blue;
      grid-area: ans_pt1;
    }
    #sum_pt {
      margin: 1vh;
      border: solid 2px blue;
      grid-area: sum_pt1;
    }
  }
  #loser {
    grid-area: loser;
    margin: 2vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-area: loser;
    grid-template:
      "second" 50%
      "third" 50%;
    #second {
      grid-area: second;
      border: solid 2px black;
      display: grid;
      grid-template:
        "icon2 ex_pt2 ans_pt2 sum_pt2" 100%
        /25% 25% 25% 25%;
      #icon {
        grid-area: icon2;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      #ex_pt {
        margin: 1vh;
        border: solid 2px blue;
        grid-area: ex_pt2;
      }
      #ans_pt {
        margin: 1vh;
        border: solid 2px blue;
        grid-area: ans_pt2;
      }
      #sum_pt {
        margin: 1vh;
        border: solid 2px blue;
        grid-area: sum_pt2;
      }
    }
    #third {
      margin-top: 1vh;
      grid-area: third;
      border: solid 2px black;
      display: grid;
      grid-template:
        "icon3 ex_pt3 ans_pt3 sum_pt3" 100%
        /25% 25% 25% 25%;
      #icon {
        grid-area: icon3;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      #ex_pt {
        margin: 1vh;
        border: solid 2px blue;
        grid-area: ex_pt3;
      }
      #ans_pt {
        margin: 1vh;
        border: solid 2px blue;
        grid-area: ans_pt3;
      }
      #sum_pt {
        margin: 1vh;
        border: solid 2px blue;
        grid-area: sum_pt3;
      }
    }
  }
}
