body {
  grid-template:
    "title title title title" 14%
    "ex ex ex ex" 20%
    "... image1 image2 ..." 33%
    "... image3 image4 ..." 33%
    /10% 40% 40% 10%;
  #another {
    line-height: 6vh;
    margin: 4vh;
    margin-bottom: 0;
    padding: 6px;
    border: solid 2px black;
    grid-area: ex;
  }
  #image1,
  #image2,
  #image3,
  #image4 {
    position: relative;
    margin: 2vh;
    margin-right: 0;
    border: solid 2px black;
    button {
      position: absolute;
      height: 100%;
      padding: 0;
      border: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    #check {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      img {
        width: 26vh;
        object-fit: cover;
      }
    }
  }
  #image1 {
    grid-area: image1;
  }
  #image2 {
    grid-area: image2;
  }
  #image3 {
    grid-area: image3;
  }
  #image4 {
    grid-area: image4;
  }
}
