body {
  font-size: 4vh;
  line-height: 6vh;
  position: fixed;
  display: grid;
  width: 96vw;
  height: 94vh;
  margin: 2vh;
  margin-right: 2vw;
  margin-left: 2vw;
  color: black;
  border: solid 2px black;
  #title {
    font-size: 10vh;
    line-height: 16vh;
    text-align: center;
    grid-area: title;
  }
}
